/**
Variables
//*/

$tw-fast:			0.3s;  //Duration for Fast Tweens;
$tw-normal:		0.4s;  //Duration for Normal Tweens;
$tw-slow:		0.6s;  //Duration for Slow Tweens;
$tw-duration: 	0.4s;  //Duration of Tween Shortcuts